* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.hero-header {
    background-color: #6a5905;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-left: 5%;
    top: 0;
    z-index: 100;
    position: sticky;
}

.hero {
    background-color: #1a1a1a;
    height: auto;
    color: white;
}

.hero h1:hover, .hero p:hover, .list-item:hover{
    color: #6a5905;
    transition: 0.5s;
}

.title {
    padding-top: 50px;
    text-align: center;
    font-size: 50px;
}

.sub-title{
    padding-top: 50px;
    text-align: center;
    font-size: 30px;
}

.description {
    padding-top: 30px;
    text-align: justify;
    font-size: 25px;
    padding-bottom: 30px;
    padding-left: 5%;
    padding-right: 5%;
}


.divider {
    border: 2px solid gray;
    margin-top: 5px;
}

.yellow-section {
    background-color: #968109e1;
    color: black;
    padding-top: 50px;
}

.black-section {
    background-color: #1a1a1a;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.black-section .sub-title:hover{
    color: #6a5905;
    transition: 0.5s;
}

.list-item{
    padding-top: 40px;
    text-align: justify;
    font-size: 20px;
    padding-bottom: 10px;
    padding-left: 5%;
    padding-right: 5%;
}

.label-container {
    padding: 10px;

}

input {
    width: 85%;
    border-radius: 7px;
    height: 35px;
    margin-bottom: 10px;
    font-size: 20px;
    margin-top: 10px;
}

.texto{
    height: 80px
}

.historia:hover{
    color: #6a5905;
    transition: 0.5s;
}

#submit-btn {
    margin-top: 30px;
    color: white;
    background-color: #c2a60ae1;
    border-color: #968107;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 2px 2px black;
}

label{
    font-weight: bold;
    font-size: 20px;
}

.footer{
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
    text-align: center;
}

.footer-title {
    font-weight: bold;
    font-size: 23px;
    padding-bottom: 30px;
}

.footer-title:hover {
    color: #6a5905;
    transition: 0.5s;
}

.footer-social-icons i {
    color: white;
    font-size: 25px;
    padding: 10px 10px;
}

.footer-social-icons i:hover {
    color: #6a5905;
    transition: 0.5s;
}

.footer p:hover {
    color: #6a5905;
    transition: 0.5s;
}



.footer-social-icons{
    padding-bottom: 30px;
}

        .content {
            margin: 80px auto 0px auto;
            text-align: center;
            padding-bottom: 50px;
        }
    
        .logo {
            background-color: #ffffff;
            padding: 10px;
            margin-bottom: 50px;
        }
    
        .historia {
            font-size: 20px;
            padding-bottom: 30px;
        }